        body {
            font-family: sans-serif;
            background-color: #666;
            color: #fff;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #24292e;
            color: #fff;
            width: 100%;
            height: 50px;
            top: 0;
            left: 0;
        }

        video,iframe.video{
            float: left;
            color: #fff;
        }
        iframe.video{
            min-height:480px;
            min-width:854px;
        }
        svg.octicon {
            fill: #fff;
            transform: translate(5%, 15%);
        }
